
.SectionCalc{
	background-image: url('../imgs/header-bg.jpg');
}

.card-calc{
	height:100%;
	background: rgba(0,0,0,0.3);
}
.card-calc .card-header{
	background-color: rgba(0,0,0,.2);
}


/************* SPECIAL INPUT  *******************/

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap');

.fake-input-container{position: relative;}
.fake-input{
	font-family: 'Jost', sans-serif;
	position: absolute;
	height: 100%;
	background-color: rgba(0,0,0,0);
	top:0;
}
.input-dark, .input-dark:focus{
	font-family: 'Jost', sans-serif;
	background-color: #3c3c3c;
	border-color: black;
	color: #ffd639;
}
.input-group-text.input-dark{
	background-color: #131212;
    color: white;
    border-color:black;
}
.fake-input-placeholder{
	color: #6c757d;
}
.fake-input-input{
	position:relative;
	z-index: 50;
}
.fake-input-input{
	background-color: rgba(0,0,0,0)!important;
	color: rgba(0,0,0,0)!important;
	border-color:black!important;
}
.fake-input-value{
	background: none;
}
.fake-input-value{
	background: none;
	background-color: rgba(0,0,0,0);
}
.fake-input-value span{
	background-color: #3c3c3c;
}
.fake-input-value span, .fake-input-placeholder span{
	text-align: center;
	letter-spacing: 1px;
	text-transform: full-width;
	-webkit-transform:scale(15.0,1.0);
	-moz-transform:scale(15.0, 1.0);
	-ms-transform:scale(15.0, 1.0);
	-o-transform:scale(15.0, 1.0);
	transform:scale(15.0,1.0);
}
.fake-input .dec{font-size: 0.7em;}
.input-cursor span:last-child:after{
	content:'';
	display: inline-block;
	width: 2px;
	height: 1.3em;
	padding-left: 1px;
	margin:0;
	background:none;
	border-right: 1px solid #ffd639;
	font-family: 'Jost', sans-serif;
	animation: blink-animation 1s steps(5, start) infinite;
	-webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
    to{ visibility: hidden; }
}
@-webkit-keyframes blink-animation {
    to{ visibility: hidden; }
}


/************** NEEDS *********************/

.ItemNeed .pack .badge{
	color: yellow;
}

.need-btns{
	flex-direction: row-reverse;
	margin: auto;
}
.need-btn{
	border: none;
	font-size: 1.1em;
	width: max-content;
	border-radius: 3em;
	font-family: monospace;
	margin: 0.2em;
	background-color: #2779f9;
}
.need-list-item{
	background-color: rgba(17,17,17,0.8);
	border-color: rgba(150,150,150,0.13);
}
.need-list-item .item_name{
	font-size: .875em;
}