:root{
	--nav-compare: #b5eecd;
	--nav-manual: #f8c1ba;
	--nav-calculator: #b7dbf3;
}

html,body, #root, .App{
  height: 100%;
  width:100%;
}

.App>.alert{
	position: fixed;
    margin-top: 5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    z-index: 5000;
}

/***********************************/
.item_icon{
	border: 0.2rem solid;
	border-radius: 0.2rem;
	height: 2em;
	width: 2em;
	display: block;
	background-color: #333;
}
.item_name{
	margin-left: -0.7em;
	line-height: 2em;
}
.ItemConfig{
	padding-top: 3px;
	overflow: auto;
    height: 100%;
    max-height: 18em;
}
.ItemConfig .accordion-button{
	padding: .5rem 1rem;
	padding-left: 0;
}
.ItemConfig .accordion-body{
	padding:0;
}

/*************************/
.white{
	color: white;
	border-color: white;
}
.blue{
	color: #116dfb;
	border-color: #116dfb;
}
.green{
	color: green;
	border-color:green;
}
.orange{
	color: orange;
	border-color: orange;
}


/**************** MAIN *****************/
main{
	height: max-content;
	width:100%;
	position: fixed;
	margin: 0 !important;
	padding: 0 !important;
	position: relative;
}
section{
	width:100%;
	min-height: 90vh;
	margin:0 !important;
	padding:0 !important;
	padding-top: 5% !important;
	overflow: auto;
	padding-bottom: 3em !important;
}
.bg-image{
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.bg-image-pa{
	background: inherit;
}
.container-blur {
 height: max-content;
 position: relative;
 box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
 background: inherit;
 overflow: hidden;
 margin-top: 1em;
 margin-bottom: 1em;
 padding: 0;
}
.container-blur:before {
  content: '';
  background: inherit;
  position: absolute;
  overflow: hidden;
  z-index: 0;
  filter: blur(6px);
  margin: 0;
  height:100%;
  width:100%;
}

/************ OVERRIDE BOOTSTRAP *********************/

.form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.form-check{
	margin-right: 1em;
	height: auto;
}
.accordion-body{
	position:relative;
}
.accordion-item:last-of-type .accordion-collapse{
	border-bottom-width: 0px;
}

.form-control:focus{
	box-shadow: 0 0 0 0.25rem rgba(115, 115, 115, 0.41);
}