.Header{
	width:100%;
	position: relative;
	top:0;
	z-index:500;
}

.Logo{
	width: 2em;
    height: auto;
    margin-left: 0.4em;
    margin-right: 0.4em;
}

/************************************************/
.nav-link{
 	cursor: pointer;
 	z-index: 10;
}

.Navv{
	transition: border-bottom 0.5s ease;
	border-bottom: 2px solid;
	background-color: antiquewhite;
	/* width: 100%; */
}


.nav-floor{
	height: 100%;
	position: absolute;
	bottom: 0;
	transition: all 0.5s ease;
	z-index:5;
	margin-left: 184px;
    width: 68px;
}

.Navv.manual{
	border-color: var(--nav-manual);;
}
.Navv.manual .nav-floor{
	background-color: var(--nav-manual);
}
.Navv.calculator{
	border-color: var(--nav-calculator);;
}
.Navv.calculator .nav-floor{
	background-color: var(--nav-calculator);
}
.Navv.calculator .nav-link.active{
	/* color:white; */
}
.Navv.compare{
	border-color: var(--nav-compare);
}
.Navv.compare .nav-floor{
	background-color: var(--nav-compare);
}
.Navv.compare .nav-link.active{
	/* color:white; */
}

/*************************************/

.Config{
	transition: max-width 0.45s ease;
	background-color: black;
	position:absolute;
	right: 0;
	margin: 0;
	margin-left: auto;
	top: 2em;
	overflow: hidden;
	height: max-content;
	max-width: 50%;
	z-index: 1000;
}
.Config.hidden{
	max-height: 3em;
	max-width: 4em;
}
.Config>div:last-child{
	/* margin-bottom: 0.5em; */
}

.ConfigIcon{
	width: 2em;
	height: 2em;
	display:block;
	margin:0;
	margin-top:0.5em;
	margin-bottom: 0.5em;
	border: 1px solid;
	cursor: pointer;
	border:none;
}

.spin{
	animation: spin 3s infinite linear;
}
@keyframes spin{
0% {
    transform: rotate(0deg);
}

100% {
    transform: rotate(1turn);
}
}

.alert-container{
	position: absolute;
    height: 100%;
    right: 0.7em;
}
.alert-div{
	position: sticky;
	top:0;
}
/****************************/
.Zoom{
	margin-top:0.2em;
	margin-bottom:0.2em;
	/* max-width: 19em; */
}
.Zoom button{
	/* margin-left: 0.3em; */
	/* margin-right: 0.3em; */
}

/******************************/
.Lang .col-auto{
	padding-left: 0.1em;
	padding-right: 0.1em;
}
.lang-flag{
	/* display: block; */
	/* border: 1px solid black; */
	/* box-sizing: border-box; */
	height: 1em;
	/*margin: 0.3em;*/
	/* width: auto; */
}
.lang-input{
	position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}
.lang-input:checked+.lang-lbl{
	/* background: red; */
	border: 0.2em solid;
	border-color: var(--bs-primary);
	margin:0;
	padding-top: 0;
}
.lang-lbl{
	border: none;
	box-sizing: border-box;
	margin-left:0.3em;
	margin-right:0.3em;
	/* padding: 0.1em; */
	padding-top: 0.2em;
	border-radius: .5rem;
}
.lang-lbl:last-child{
	/* margin-right: 0; */
}
