
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

	.Config{
		max-width: 70%;
	}
	.Config.hidden {
    	max-width: 4em;
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.Header{
		position:fixed;
	}
	section{
		padding-top: 5em!important;
	}
	.expand-md-hidden {
    	display: none;
	}

	.Config{
		max-width: 87%;
	}
	.Config.hidden {
    	max-width: 4em;
	}

	.CompareGral .table .item_name{
		display: none;
	}
	.IsEqualsTo .equals-to-arrow-down{display: block;}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	.expand-sm-hidden {
    	display: none;
	}
	.Config{
		max-width: 95%;
	}
	.Config.hidden {
    	max-width: 4em;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) { 
	.ItemConfig{max-height: 13em;} 
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 
	.ItemConfig{ max-height: 14em; } 
}

/* iPhone 4 and high pixel ratio devices ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) { 
.ItemConfig{max-height: 13em;} 
}