
.Input{
	border: 2px solid blue;
	border-radius: 0.4em;
	background-color: #222;
	color: white;
	width: 4em;
	display: inline-block;
	text-align: center;
	padding: 0.3em;
	font-size: 1em;
	color: #f9c126;
	font-family: 'Jost', sans-serif;
}

section{
	padding-top: 2em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 2em;
}
.all{
	width: 90%;
	background-color: #222;
	border-radius: 1em;
	font-size: 1.2rem;
}
.head{
	background-color: #131313;
	border-top-left-radius: 1em;
	/*padding: 1em;*/
	/*text-align: center;*/
	font-size: 1.3em;
	border-top-right-radius: 1em;
}
.desc{
	padding: 1em;
    text-align: center;
}
.body{
	padding: 1em;
}
.body>div{
	width: 60%;
}
.desc span{
    margin: auto;
    /* height: 1em; */
    width: 80%;
    text-align: center;
}

label.in-line{display: inline-block;}
.lbl-wap{
	margin-bottom: 0.6em;
}

/*******************************/
.res{

}
.res tr{
	padding: 0.4em;
}



/*********************************/
.Btn{border: none;padding: 0.4em;border-radius: 0.3em;width: 40%;margin-top: 1em;margin-bottom: 1.3em;font-size: 1.3em;color: black;border: 2px solid #005d00;background-color: #96c55f;}


/****************************/
.Resultado{

}
.Resultado .head{font-size: 1rem;}
.Option{display: flex;/* width: 90%; */margin: auto;margin-top: 0.3em;margin-bottom: 0.2em;border: 1px solid black;padding: 0.4em;/* justify-content: center; */padding-left: 1em;box-sizing: border-box;}
.Option>div{
	/* display:block; */
	width:max-content;
	height:max-content;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 0.8em;
}
.Option:first-child{
	border-top-left-radius: 0.4em;
	border-top-right-radius: 0.4em;
}
.Option:last-child{
	border-bottom-left-radius:0.4em;
	border-bottom-right-radius: 0.4em;
}
.mini-btn{
	display: block;
	height: 1.5em;
	background-color: black;
	width: 1.5em;
	margin: 0.4em;
	border-radius: 50%;
	text-align: center;
	line-height: 1.5em;
	cursor: pointer;
}
.uni{
	color:white;
	width: 3.1em;
	text-align: center;
}
.pack{
	color: #f9c132;
}
/********************************/