

.Compare .Item{
	font-size: .875em;
}

.select-item{
	display: inline-block;
}

.btn-select-item{
	background: aliceblue;
    color: blue;
    border-color: #ced4da;
}

.btn-select-item:hover{
	background-color:#e9ecef;
	color: blue;
}

.Compare.container-blur{
	overflow: visible;
}
.Compare.container-blur:before{
	height:100%;
	
}
.Compare .pack .badge{
	color:black;
}

.Compare .dropdown-item.active, .dropdown-item:active{
	background-color:#73c1ff;
}

.IsEqualsTo{
    padding-bottom: .3em;
    color: #3737b9;
}
.equals-to-img{}
.equals-to-text{
    padding-left: 0;
    padding-right: 0;
}
.equals-to-arrow{
	height: 2em;
	width: 2em;
	margin-bottom: .5em;
}
.equals-to-arrow-down{display: none;margin: auto;}
.equals-to-arrow-right{}
