

.InputDoble{
	/* background-color: #222; */
	position:relative;
	/* border: 2px solid blue; */
	/* padding: 0.3em; */
	/* width: 4em; */
	/* height: 1em; */
	padding: 0;
}
.in{
	/* font-size:1.5em; */
	position: relative;
	/* margin:0.4em; */
	z-index: 100;
	/* opacity:0; */
	width: calc(100% - 0.6em);
	border: none;
	box-sizing: border-box;
}

.on{
	/* font-size: 1.5em; */
	position:absolute;
	height: calc(100% - 0.6em);
	width: calc(100% - 0.6em);
	top:0;
	left:0;
	/* margin: 0.3em; */
	z-index: 50;
	color: yellow;
}
.int, .dec{
	/*width:  max-content;*/
	display: inline;
	background-color: #222; /* es el mismo color que el fondo */
}
.dec{
	font-size:0.5em;
}

.lbl.cursor .on1 span:last-child:after{
	content:'';
	display: inline-block;
	width: 1px;
	height: 1.5em;
	background-color:white;
	animation: blink-animation 1s steps(5, start) infinite; 
    -webkit-animation: blink-animation 1s steps(5, start) infinite; 
} 
 
@keyframes blink-animation {
    to{ visibility: hidden; }
}
@-webkit-keyframes blink-animation {
    to{ visibility: hidden; }
}

/*
.placeholder, .placeholder .on{
	color: gray;
}
*/
.placeholder{
	color:gray;
	z-index: 30;
}