
.pack .badge{
	color: yellow;
}

.need-btns{
	flex-direction: row-reverse;
	margin: auto;
}
.need-btn{
	border: none;
	/* max-width: 3em; */
	font-size: 1.1em;
	width: max-content;
	/* height: 2em; */
	border-radius: 3em;
	font-family: monospace;
	margin: 0.2em;
	background-color: #2779f9;
}

.need-list-item{
	background-color: rgba(17,17,17,0.8);
	border-color: rgba(150,150,150,0.13);
}